> ml-assignmet1  
> March 4, 2024

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[5]: <strong>import pandas as pd</strong><br />
<strong>from sklearn.model_selection import</strong> train_test_split
<strong>from sklearn.preprocessing import</strong> MinMaxScaler</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table style="width:100%;">
<colgroup>
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
<col style="width: 10%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="9"><p>[4]: <em># a) Read the data with pandas and describe
the data</em></p>
<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><blockquote>
<p>data = pd.read_csv('/content/housing.csv') print("Description of the
data:")<br />
print(data.describe())</p>
</blockquote></th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="9"><blockquote>
<p>Description of the data:</p>
</blockquote></td>
<td rowspan="27"><blockquote>
<p>\</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="3">longitude</td>
<td><blockquote>
<p>latitude</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>housing_median_age</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>total_rooms</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>count</td>
<td>20640.000000</td>
<td colspan="2"><blockquote>
<p>20640.000000</p>
</blockquote></td>
<td colspan="3">20640.000000</td>
<td colspan="2">20640.000000</td>
</tr>
<tr class="even">
<td>mean</td>
<td colspan="2"><blockquote>
<p>-119.569704</p>
</blockquote></td>
<td>35.631861</td>
<td colspan="3">28.639486</td>
<td colspan="2"><blockquote>
<p>2635.763081</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>std</td>
<td colspan="2">2.003532</td>
<td><blockquote>
<p>2.135952</p>
</blockquote></td>
<td colspan="3">12.585558</td>
<td colspan="2"><blockquote>
<p>2181.615252</p>
</blockquote></td>
</tr>
<tr class="even">
<td>min</td>
<td colspan="2"><blockquote>
<p>-124.350000</p>
</blockquote></td>
<td>32.540000</td>
<td colspan="3">1.000000</td>
<td colspan="2">2.000000</td>
</tr>
<tr class="odd">
<td>25%</td>
<td colspan="2"><blockquote>
<p>-121.800000</p>
</blockquote></td>
<td>33.930000</td>
<td colspan="3">18.000000</td>
<td colspan="2"><blockquote>
<p>1447.750000</p>
</blockquote></td>
</tr>
<tr class="even">
<td>50%</td>
<td colspan="2"><blockquote>
<p>-118.490000</p>
</blockquote></td>
<td>34.260000</td>
<td colspan="3">29.000000</td>
<td colspan="2"><blockquote>
<p>2127.000000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>75%</td>
<td colspan="2"><blockquote>
<p>-118.010000</p>
</blockquote></td>
<td>37.710000</td>
<td colspan="3">37.000000</td>
<td colspan="2"><blockquote>
<p>3148.000000</p>
</blockquote></td>
</tr>
<tr class="even">
<td>max</td>
<td colspan="2"><blockquote>
<p>-114.310000</p>
</blockquote></td>
<td>41.950000</td>
<td colspan="3">52.000000</td>
<td colspan="2">39320.000000</td>
</tr>
<tr class="odd">
<td colspan="3">total_bedrooms</td>
<td><blockquote>
<p>population</p>
</blockquote></td>
<td>households</td>
<td colspan="3">median_income</td>
<td>\</td>
</tr>
<tr class="even">
<td>count</td>
<td colspan="2"><blockquote>
<p>20433.000000</p>
</blockquote></td>
<td><blockquote>
<p>20640.000000</p>
</blockquote></td>
<td colspan="2">20640.000000</td>
<td colspan="3"><blockquote>
<p>20640.000000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>mean</td>
<td colspan="2">537.870553</td>
<td><blockquote>
<p>1425.476744</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>499.539680</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>3.870671</p>
</blockquote></td>
</tr>
<tr class="even">
<td>std</td>
<td colspan="2">421.385070</td>
<td><blockquote>
<p>1132.462122</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>382.329753</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>1.899822</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>min</td>
<td colspan="2">1.000000</td>
<td>3.000000</td>
<td colspan="3">1.000000</td>
<td colspan="2"><blockquote>
<p>0.499900</p>
</blockquote></td>
</tr>
<tr class="even">
<td>25%</td>
<td colspan="2">296.000000</td>
<td><blockquote>
<p>787.000000</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>280.000000</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>2.563400</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>50%</td>
<td colspan="2">435.000000</td>
<td><blockquote>
<p>1166.000000</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>409.000000</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>3.534800</p>
</blockquote></td>
</tr>
<tr class="even">
<td>75%</td>
<td colspan="2">647.000000</td>
<td><blockquote>
<p>1725.000000</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>605.000000</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>4.743250</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>max</td>
<td colspan="2">6445.000000</td>
<td><blockquote>
<p>35682.000000</p>
</blockquote></td>
<td colspan="3"><blockquote>
<p>6082.000000</p>
</blockquote></td>
<td colspan="2"><blockquote>
<p>15.000100</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="9"><blockquote>
<p>median_house_value</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>count</td>
<td colspan="8"><blockquote>
<p>20640.000000</p>
</blockquote></td>
</tr>
<tr class="even">
<td>mean</td>
<td colspan="8"><blockquote>
<p>206855.816909</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>std</td>
<td colspan="8"><blockquote>
<p>115395.615874</p>
</blockquote></td>
</tr>
<tr class="even">
<td>min</td>
<td colspan="8"><blockquote>
<p>14999.000000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>25%</td>
<td colspan="8"><blockquote>
<p>119600.000000</p>
</blockquote></td>
</tr>
<tr class="even">
<td>50%</td>
<td colspan="8"><blockquote>
<p>179700.000000</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>75%</td>
<td colspan="8"><blockquote>
<p>264725.000000</p>
</blockquote></td>
</tr>
</tbody>
</table>

1

> max 500001.000000

<table>
<colgroup>
<col style="width: 50%" />
<col style="width: 50%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="2">[6]: <em># b) Find data type and shape of each
column</em> print("<strong>\n</strong>Data types of each column:")<br />
print(data.dtypes)<br />
print("<strong>\n</strong>Shape of the data:")<br />
print(data.shape)</th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="2"><blockquote>
<p>Data types of each column:</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>longitude</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>latitude</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>housing_median_age</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>total_rooms</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>total_bedrooms</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>population</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>households</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="odd">
<td><blockquote>
<p>median_income</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="even">
<td><blockquote>
<p>median_house_value</p>
</blockquote></td>
<td><blockquote>
<p>float64</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>ocean_proximity</td>
<td><blockquote>
<p>object</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="2"><blockquote>
<p>dtype: object</p>
</blockquote></td>
</tr>
</tbody>
</table>

> Shape of the data:  
> (20640, 10)

\[7\]: *\# c) Find the null values (if yes fill the null values with ‘0’
or mean of that*␣

> null_values = data.isnull().sum()↪*column)*  
> print("**\n**Null values in the data:")  
> print(null_values)
>
> *\# Fill null values with mean of the column*  
> data.fillna(data.mean(), inplace=**True**)
>
> Null values in the data:  
> longitude 0  
> latitude 0  
> housing_median_age 0  
> total_rooms  
> 0 total_bedrooms 207  
> population 0  
> households 0  
> median_income  
> 0 median_house_value 0  
> ocean_proximity 0  
> dtype: int64

2

> \<ipython-input-7-a491f8faab6e\>:7: FutureWarning: The default value
> of  
> numeric_only in DataFrame.mean is deprecated. In a future version, it
> will default to False. In addition, specifying 'numeric_only=None' is
> deprecated. Select only valid columns or specify the value of
> numeric_only to silence this warning.
>
> data.fillna(data.mean(), inplace=True)

<table>
<colgroup>
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="8"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[16]: <em># d) find features and target variables</em><br />
<em># Assuming the target variable is in the last column</em> features =
data.iloc[:, :-1]<br />
target = data.iloc[:, -1]<br />
print(features)<br />
print(target)</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="2">longitude</td>
<td>latitude</td>
<td colspan="3">housing_median_age</td>
<td>total_rooms</td>
<td>total_bedrooms</td>
<td rowspan="32"><blockquote>
<p>\</p>
</blockquote></td>
</tr>
<tr class="even">
<td>0</td>
<td>-122.23</td>
<td colspan="2">37.88</td>
<td colspan="2">41.0</td>
<td>880.0</td>
<td>129.0</td>
</tr>
<tr class="odd">
<td>1</td>
<td>-122.22</td>
<td colspan="2">37.86</td>
<td colspan="2">21.0</td>
<td>7099.0</td>
<td>1106.0</td>
</tr>
<tr class="even">
<td>2</td>
<td>-122.24</td>
<td colspan="2">37.85</td>
<td colspan="2">52.0</td>
<td>1467.0</td>
<td>190.0</td>
</tr>
<tr class="odd">
<td>3</td>
<td>-122.25</td>
<td colspan="2">37.85</td>
<td colspan="2">52.0</td>
<td>1274.0</td>
<td>235.0</td>
</tr>
<tr class="even">
<td>4</td>
<td>-122.25</td>
<td colspan="2">37.85</td>
<td colspan="2">52.0</td>
<td>1627.0</td>
<td>280.0</td>
</tr>
<tr class="odd">
<td>…</td>
<td>…</td>
<td colspan="2"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="2">…</td>
<td><blockquote>
<p>…</p>
</blockquote></td>
<td><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="even">
<td>20635</td>
<td>-121.09</td>
<td colspan="2">39.48</td>
<td colspan="2">25.0</td>
<td>1665.0</td>
<td>374.0</td>
</tr>
<tr class="odd">
<td>20636</td>
<td>-121.21</td>
<td colspan="2">39.49</td>
<td colspan="2">18.0</td>
<td>697.0</td>
<td>150.0</td>
</tr>
<tr class="even">
<td>20637</td>
<td>-121.22</td>
<td colspan="2">39.43</td>
<td colspan="2">17.0</td>
<td>2254.0</td>
<td>485.0</td>
</tr>
<tr class="odd">
<td>20638</td>
<td>-121.32</td>
<td colspan="2">39.43</td>
<td colspan="2">18.0</td>
<td>1860.0</td>
<td>409.0</td>
</tr>
<tr class="even">
<td>20639</td>
<td>-121.24</td>
<td colspan="2">39.37</td>
<td colspan="2">16.0</td>
<td>2785.0</td>
<td>616.0</td>
</tr>
<tr class="odd">
<td colspan="2">population</td>
<td colspan="2"><blockquote>
<p>households</p>
</blockquote></td>
<td>median_income</td>
<td colspan="3"><blockquote>
<p>median_house_value</p>
</blockquote></td>
</tr>
<tr class="even">
<td>0</td>
<td>322.0</td>
<td colspan="2">126.0</td>
<td colspan="2">8.3252</td>
<td colspan="2">452600.0</td>
</tr>
<tr class="odd">
<td>1</td>
<td>2401.0</td>
<td colspan="2">1138.0</td>
<td colspan="2">8.3014</td>
<td colspan="2">358500.0</td>
</tr>
<tr class="even">
<td>2</td>
<td>496.0</td>
<td colspan="2">177.0</td>
<td colspan="2">7.2574</td>
<td colspan="2">352100.0</td>
</tr>
<tr class="odd">
<td>3</td>
<td>558.0</td>
<td colspan="2">219.0</td>
<td colspan="2">5.6431</td>
<td colspan="2">341300.0</td>
</tr>
<tr class="even">
<td>4</td>
<td>565.0</td>
<td colspan="2">259.0</td>
<td colspan="2">3.8462</td>
<td colspan="2">342200.0</td>
</tr>
<tr class="odd">
<td>…</td>
<td>…</td>
<td colspan="2">…</td>
<td colspan="2">…</td>
<td colspan="2"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="even">
<td>20635</td>
<td>845.0</td>
<td colspan="2">330.0</td>
<td colspan="2">1.5603</td>
<td colspan="2">78100.0</td>
</tr>
<tr class="odd">
<td>20636</td>
<td>356.0</td>
<td colspan="2">114.0</td>
<td colspan="2">2.5568</td>
<td colspan="2">77100.0</td>
</tr>
<tr class="even">
<td>20637</td>
<td>1007.0</td>
<td colspan="2">433.0</td>
<td colspan="2">1.7000</td>
<td colspan="2">92300.0</td>
</tr>
<tr class="odd">
<td>20638</td>
<td>741.0</td>
<td colspan="2">349.0</td>
<td colspan="2">1.8672</td>
<td colspan="2">84700.0</td>
</tr>
<tr class="even">
<td>20639</td>
<td>1387.0</td>
<td colspan="2">530.0</td>
<td colspan="2">2.3886</td>
<td colspan="2">89400.0</td>
</tr>
<tr class="odd">
<td colspan="8">[20640 rows x 9 columns]</td>
</tr>
<tr class="even">
<td>0</td>
<td colspan="7"><blockquote>
<p>NEAR BAY</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>1</td>
<td colspan="7"><blockquote>
<p>NEAR BAY</p>
</blockquote></td>
</tr>
<tr class="even">
<td>2</td>
<td colspan="7"><blockquote>
<p>NEAR BAY</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>3</td>
<td colspan="7"><blockquote>
<p>NEAR BAY</p>
</blockquote></td>
</tr>
<tr class="even">
<td>4</td>
<td colspan="7"><blockquote>
<p>NEAR BAY</p>
</blockquote></td>
</tr>
<tr class="odd">
<td colspan="8"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="even">
<td>20635</td>
<td colspan="7"><blockquote>
<p>INLAND</p>
</blockquote></td>
</tr>
</tbody>
</table>

3

> 20636 INLAND  
> 20637 INLAND  
> 20638 INLAND  
> 20639 INLAND  
> Name: ocean_proximity, Length: 20640, dtype: object

<table>
<colgroup>
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
</colgroup>
<thead>
<tr class="header">
<th colspan="8"><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[17]: <em># e) Split the data into train and test</em><br />
X_train, X_test, y_train, y_test = train_test_split(features, target,␣
↪test_size=0.2, random_state=42)<br />
print(X_test,y_test)</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
<th></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td colspan="2">longitude</td>
<td>latitude</td>
<td colspan="3">housing_median_age</td>
<td>total_rooms</td>
<td>total_bedrooms</td>
<td rowspan="34"><blockquote>
<p>\</p>
</blockquote></td>
</tr>
<tr class="even">
<td>14196</td>
<td>-117.03</td>
<td colspan="2">32.71</td>
<td colspan="2">33.0</td>
<td>3126.0</td>
<td>627.0</td>
</tr>
<tr class="odd">
<td>8267</td>
<td>-118.16</td>
<td colspan="2">33.77</td>
<td colspan="2">49.0</td>
<td>3382.0</td>
<td>787.0</td>
</tr>
<tr class="even">
<td>17445</td>
<td>-120.48</td>
<td colspan="2">34.66</td>
<td colspan="2">4.0</td>
<td>1897.0</td>
<td>331.0</td>
</tr>
<tr class="odd">
<td>14265</td>
<td>-117.11</td>
<td colspan="2">32.69</td>
<td colspan="2">36.0</td>
<td>1421.0</td>
<td>367.0</td>
</tr>
<tr class="even">
<td>2271</td>
<td>-119.80</td>
<td colspan="2">36.78</td>
<td colspan="2">43.0</td>
<td>2382.0</td>
<td>431.0</td>
</tr>
<tr class="odd">
<td>…</td>
<td>…</td>
<td colspan="2"><blockquote>
<p>…</p>
</blockquote></td>
<td colspan="2">…</td>
<td><blockquote>
<p>…</p>
</blockquote></td>
<td><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="even">
<td>11284</td>
<td>-117.96</td>
<td colspan="2">33.78</td>
<td colspan="2">35.0</td>
<td>1330.0</td>
<td>201.0</td>
</tr>
<tr class="odd">
<td>11964</td>
<td>-117.43</td>
<td colspan="2">34.02</td>
<td colspan="2">33.0</td>
<td>3084.0</td>
<td>570.0</td>
</tr>
<tr class="even">
<td>5390</td>
<td>-118.38</td>
<td colspan="2">34.03</td>
<td colspan="2">36.0</td>
<td>2101.0</td>
<td>569.0</td>
</tr>
<tr class="odd">
<td>860</td>
<td>-121.96</td>
<td colspan="2">37.58</td>
<td colspan="2">15.0</td>
<td>3575.0</td>
<td>597.0</td>
</tr>
<tr class="even">
<td>15795</td>
<td>-122.42</td>
<td colspan="2">37.77</td>
<td colspan="2">52.0</td>
<td>4226.0</td>
<td>1315.0</td>
</tr>
<tr class="odd">
<td colspan="2">population</td>
<td colspan="2">households</td>
<td>median_income</td>
<td colspan="3"><blockquote>
<p>median_house_value</p>
</blockquote></td>
</tr>
<tr class="even">
<td>14196</td>
<td>2300.0</td>
<td colspan="2">623.0</td>
<td colspan="2">3.2596</td>
<td colspan="2">103000.0</td>
</tr>
<tr class="odd">
<td>8267</td>
<td>1314.0</td>
<td colspan="2">756.0</td>
<td colspan="2">3.8125</td>
<td colspan="2">382100.0</td>
</tr>
<tr class="even">
<td>17445</td>
<td>915.0</td>
<td colspan="2">336.0</td>
<td colspan="2">4.1563</td>
<td colspan="2">172600.0</td>
</tr>
<tr class="odd">
<td>14265</td>
<td>1418.0</td>
<td colspan="2">355.0</td>
<td colspan="2">1.9425</td>
<td colspan="2">93400.0</td>
</tr>
<tr class="even">
<td>2271</td>
<td>874.0</td>
<td colspan="2">380.0</td>
<td colspan="2">3.5542</td>
<td colspan="2">96500.0</td>
</tr>
<tr class="odd">
<td>…</td>
<td>…</td>
<td colspan="2">…</td>
<td colspan="2">…</td>
<td colspan="2"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="even">
<td>11284</td>
<td>658.0</td>
<td colspan="2">217.0</td>
<td colspan="2">6.3700</td>
<td colspan="2">229200.0</td>
</tr>
<tr class="odd">
<td>11964</td>
<td>1753.0</td>
<td colspan="2">449.0</td>
<td colspan="2">3.0500</td>
<td colspan="2">97800.0</td>
</tr>
<tr class="even">
<td>5390</td>
<td>1756.0</td>
<td colspan="2">527.0</td>
<td colspan="2">2.9344</td>
<td colspan="2">222100.0</td>
</tr>
<tr class="odd">
<td>860</td>
<td>1777.0</td>
<td colspan="2">559.0</td>
<td colspan="2">5.7192</td>
<td colspan="2">283500.0</td>
</tr>
<tr class="even">
<td>15795</td>
<td>2619.0</td>
<td colspan="2">1242.0</td>
<td colspan="2">2.5755</td>
<td colspan="2">325000.0</td>
</tr>
<tr class="odd">
<td colspan="4">[16512 rows x 9 columns] 14196</td>
<td colspan="4"><blockquote>
<p>NEAR OCEAN</p>
</blockquote></td>
</tr>
<tr class="even">
<td>8267</td>
<td colspan="7"><blockquote>
<p>NEAR OCEAN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>17445</td>
<td colspan="7"><blockquote>
<p>NEAR OCEAN</p>
</blockquote></td>
</tr>
<tr class="even">
<td>14265</td>
<td colspan="7"><blockquote>
<p>NEAR OCEAN</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>2271</td>
<td colspan="7"><blockquote>
<p>INLAND</p>
</blockquote></td>
</tr>
<tr class="even">
<td colspan="8"><blockquote>
<p>…</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>11284</td>
<td colspan="7"><blockquote>
<p>&lt;1H OCEAN</p>
</blockquote></td>
</tr>
<tr class="even">
<td>11964</td>
<td colspan="7"><blockquote>
<p>INLAND</p>
</blockquote></td>
</tr>
<tr class="odd">
<td>5390</td>
<td colspan="7"><blockquote>
<p>&lt;1H OCEAN</p>
</blockquote></td>
</tr>
<tr class="even">
<td>860</td>
<td colspan="7"><blockquote>
<p>&lt;1H OCEAN</p>
</blockquote></td>
</tr>
</tbody>
</table>

4

<table>
<colgroup>
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
<col style="width: 11%" />
</colgroup>
<thead>
<tr class="header">
<th>15795</th>
<th colspan="7"><blockquote>
<p>NEAR BAY</p>
</blockquote></th>
<th rowspan="38"><blockquote>
<p>\</p>
</blockquote></th>
</tr>
<tr class="odd">
<th colspan="8">Name: ocean_proximity, Length: 16512, dtype: object</th>
</tr>
<tr class="header">
<th colspan="2">longitude</th>
<th>latitude</th>
<th colspan="3">housing_median_age</th>
<th>total_rooms</th>
<th>total_bedrooms</th>
</tr>
<tr class="odd">
<th>20046</th>
<th>-119.01</th>
<th colspan="2">36.06</th>
<th colspan="2">25.0</th>
<th>1505.0</th>
<th>537.870553</th>
</tr>
<tr class="header">
<th>3024</th>
<th>-119.46</th>
<th colspan="2">35.14</th>
<th colspan="2">30.0</th>
<th>2943.0</th>
<th>537.870553</th>
</tr>
<tr class="odd">
<th>15663</th>
<th>-122.44</th>
<th colspan="2">37.80</th>
<th colspan="2">52.0</th>
<th>3830.0</th>
<th>537.870553</th>
</tr>
<tr class="header">
<th>20484</th>
<th>-118.72</th>
<th colspan="2">34.28</th>
<th colspan="2">17.0</th>
<th>3051.0</th>
<th>537.870553</th>
</tr>
<tr class="odd">
<th>9814</th>
<th>-121.93</th>
<th colspan="2">36.62</th>
<th colspan="2">34.0</th>
<th>2351.0</th>
<th>537.870553</th>
</tr>
<tr class="header">
<th>…</th>
<th>…</th>
<th colspan="2"><blockquote>
<p>…</p>
</blockquote></th>
<th colspan="2">…</th>
<th><blockquote>
<p>…</p>
</blockquote></th>
<th><blockquote>
<p>…</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>15362</th>
<th>-117.22</th>
<th colspan="2">33.36</th>
<th colspan="2">16.0</th>
<th>3165.0</th>
<th>482.000000</th>
</tr>
<tr class="header">
<th>16623</th>
<th>-120.83</th>
<th colspan="2">35.36</th>
<th colspan="2">28.0</th>
<th>4323.0</th>
<th>886.000000</th>
</tr>
<tr class="odd">
<th>18086</th>
<th>-122.05</th>
<th colspan="2">37.31</th>
<th colspan="2">25.0</th>
<th>4111.0</th>
<th>538.000000</th>
</tr>
<tr class="header">
<th>2144</th>
<th>-119.76</th>
<th colspan="2">36.77</th>
<th colspan="2">36.0</th>
<th>2507.0</th>
<th>466.000000</th>
</tr>
<tr class="odd">
<th>3665</th>
<th>-118.37</th>
<th colspan="2">34.22</th>
<th colspan="2">17.0</th>
<th>1787.0</th>
<th>463.000000</th>
</tr>
<tr class="header">
<th colspan="2">population</th>
<th colspan="2"><blockquote>
<p>households</p>
</blockquote></th>
<th>median_income</th>
<th colspan="3"><blockquote>
<p>median_house_value</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>20046</th>
<th>1392.0</th>
<th colspan="2">359.0</th>
<th colspan="2">1.6812</th>
<th colspan="2">47700.0</th>
</tr>
<tr class="header">
<th>3024</th>
<th>1565.0</th>
<th colspan="2">584.0</th>
<th colspan="2">2.5313</th>
<th colspan="2">45800.0</th>
</tr>
<tr class="odd">
<th>15663</th>
<th>1310.0</th>
<th colspan="2">963.0</th>
<th colspan="2">3.4801</th>
<th colspan="2">500001.0</th>
</tr>
<tr class="header">
<th>20484</th>
<th>1705.0</th>
<th colspan="2">495.0</th>
<th colspan="2">5.7376</th>
<th colspan="2">218600.0</th>
</tr>
<tr class="odd">
<th>9814</th>
<th>1063.0</th>
<th colspan="2">428.0</th>
<th colspan="2">3.7250</th>
<th colspan="2">278000.0</th>
</tr>
<tr class="header">
<th>…</th>
<th>…</th>
<th colspan="2">…</th>
<th colspan="2">…</th>
<th colspan="2"><blockquote>
<p>…</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>15362</th>
<th>1351.0</th>
<th colspan="2">452.0</th>
<th colspan="2">4.6050</th>
<th colspan="2">263300.0</th>
</tr>
<tr class="header">
<th>16623</th>
<th>1650.0</th>
<th colspan="2">705.0</th>
<th colspan="2">2.7266</th>
<th colspan="2">266800.0</th>
</tr>
<tr class="odd">
<th>18086</th>
<th>1585.0</th>
<th colspan="2">568.0</th>
<th colspan="2">9.2298</th>
<th colspan="2">500001.0</th>
</tr>
<tr class="header">
<th>2144</th>
<th>1227.0</th>
<th colspan="2">474.0</th>
<th colspan="2">2.7850</th>
<th colspan="2">72300.0</th>
</tr>
<tr class="odd">
<th>3665</th>
<th>1671.0</th>
<th colspan="2">448.0</th>
<th colspan="2">3.5521</th>
<th colspan="2">151500.0</th>
</tr>
<tr class="header">
<th colspan="4">[4128 rows x 9 columns] 20046</th>
<th colspan="4"><blockquote>
<p>INLAND</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>3024</th>
<th colspan="7"><blockquote>
<p>INLAND</p>
</blockquote></th>
</tr>
<tr class="header">
<th>15663</th>
<th colspan="7"><blockquote>
<p>NEAR BAY</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>20484</th>
<th colspan="7"><blockquote>
<p>&lt;1H OCEAN</p>
</blockquote></th>
</tr>
<tr class="header">
<th>9814</th>
<th colspan="7"><blockquote>
<p>NEAR OCEAN</p>
</blockquote></th>
</tr>
<tr class="odd">
<th colspan="8"><blockquote>
<p>…</p>
</blockquote></th>
</tr>
<tr class="header">
<th>15362</th>
<th colspan="7"><blockquote>
<p>&lt;1H OCEAN</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>16623</th>
<th colspan="7"><blockquote>
<p>NEAR OCEAN</p>
</blockquote></th>
</tr>
<tr class="header">
<th>18086</th>
<th colspan="7"><blockquote>
<p>&lt;1H OCEAN</p>
</blockquote></th>
</tr>
<tr class="odd">
<th>2144</th>
<th colspan="7"><blockquote>
<p>INLAND</p>
</blockquote></th>
</tr>
<tr class="header">
<th>3665</th>
<th colspan="7"><blockquote>
<p>&lt;1H OCEAN</p>
</blockquote></th>
</tr>
<tr class="odd">
<th colspan="8">Name: ocean_proximity, Length: 4128, dtype: object</th>
</tr>
</thead>
<tbody>
</tbody>
</table>

<table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th><table>
<colgroup>
<col style="width: 100%" />
</colgroup>
<thead>
<tr class="header">
<th>[18]: <em># f) Normalize the data with min-max scaling</em> scaler =
MinMaxScaler()<br />
X_train_scaled = scaler.fit_transform(X_train) X_test_scaled =
scaler.transform(X_test)<br />
print(X_train_scaled)<br />
print(X_test_scaled)</th>
</tr>
</thead>
<tbody>
</tbody>
</table></th>
</tr>
</thead>
<tbody>
</tbody>
</table>

5

\[\[0.72908367 0.01702128 0.62745098 … 0.10228581 0.19032151
0.18144461\] \[0.61653386 0.12978723 0.94117647 … 0.12415721 0.22845202
0.75690616\] \[0.38545817 0.22446809 0.05882353 … 0.05508962 0.25216204
0.32494918\] …  
\[0.59462151 0.15744681 0.68627451 … 0.08649893 0.16789424 0.42701061\]
\[0.23804781 0.53510638 0.2745098 … 0.09176122 0.35994676 0.55360803\] …
0.20407828 0.14314285 0.63917468\]\] \[0.19223108 0.55531915 1.

\[\[0.53187251 0.37340426 0.47058824 … 0.0588719 0.08146784 0.06742446\]
\[0.48705179 0.27553191 0.56862745 … 0.09587239 0.14009462 0.06350695\]
\[0.19023904 0.55851064 1. … 0.15819766 0.2055282 1. \] …  
\[0.22908367 0.50638298 0.47058824 … 0.09324124 0.60205376 1. \]
\[0.45717131 0.44893617 0.68627451 … 0.07778326 0.15759093 0.1181459 \]
\[0.59561753 0.17765957 0.31372549 … 0.07350765 0.21049365 0.2814442
\]\]

6